body {
	background-color: #f3f4ed;
	font-family: arial;
	color: #343f56;
	font-size: 16px;
	line-height: 16px;
	letter-spacing: 1px;
}

h1 {
	color: #343f56;
	font-family: Arial, sans-serif;
}


a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #6B72E1;
    font-weight: 600;
    font-size: 24px;
}

a:hover

.fa-github {
	color: #1b1717;
}

a:hover

.fa-twitter {
	color: #51c2d5;
}

a:hover

.fa-facebook {
	color: #161d6f;
}

.card-white {
	background: white;
    padding: 32px;
    box-shadow: 0 5px 15px rgb(0 0 0 / 10%);
    width: 500px;
    margin: 24px auto;
    text-align: center;
    border-radius: 4px;
}

.img-circle {
	width: 100px;
	border-radius: 50%;
}


.btn-blue {
	background-color: #0278ae;
	color: white;
	font-size: 20px;
	padding: 8px 24px;
	border-radius: 8px;
	box-shadow: 0 5px 15px rgb(0 0 0 / 10%);
}

.btn-blue:hover {
	background-color: #19456b;
	color: white;
}

.list-inline {
	list-style: none;
	padding: 0;
}

.list-inline li {
	display: inline-block;
}

.social-icon {
	font-size: 32px;
	color: rgb(180,180,180);
	margin: 8px 24px;
}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 200px;
  }
}

 @media (max-width: 320px) {
  .container {
    width: 160px;
  }
}






